main {
  min-height: 80vh;
  background: linear-gradient(
    180deg,
    #480b1d,
    #480b1d,
    #490b1e,
    #4b0c1e,
    #4d0c1f,
    #4f0c20,
    #520d21,
    #540d22,
    #560d23,
    #570e23,
    #590e24,
    #590e24
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  margin-bottom: 100px;
}

.carousel {
  width: 300px;
  height: 300px;
  margin: 10px auto auto auto;
}

.search-box {
  display: flex;
  width: 80%;
}

.search-filters {
  display: flex;
  width: 80%;
}

.listing {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 75%;
}

.listing-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listing-list {
  display: flex;
}

@media (max-width: 767px) {
  .header {
    margin-bottom: 50px;
  }
  .carousel {
    width: auto;
    height: auto;
  }
  .search-button {
    display: block;
    width: 100%;
  }
  .search-filters {
    display: block;
    width: 100%;
  }
  .search-box {
    display: block;
    width: 100%;
  }
  .listing {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
  }
  .cta {
    display: block;
    margin-bottom: 5px;
    width: 100%;
  }
}
